body {
  background-color: black;
  margin: 0;
}

.outer {
  background-color: #308dc0;
  box-sizing: border-box;
  width: 350px;
  margin: 20px;
  margin-bottom: 40px;
}

.middle {
  background-color: #ffa500;
}

.inner {
  background-color: #ddd;
  padding: 0;
}

.allBlocks {
  border: 1px solid #e75551;
  padding: 10px;
}

.text {
  margin: 0;
}
